In [7]:
import pandas as pd

data = pd.read_csv('/home/aman/Documents/Data Analysis/Value_Inc_Sales/transaction.csv', sep = ';')

costPerItem = data["CostPerItem"]
sellingPricePerItem = data["SellingPricePerItem"]
noOfItemPurchased = data["NumberOfItemsPurchased"]
profitPerItem = sellingPricePerItem - costPerItem

profitPerTransacion = noOfItemPurchased*profitPerItem
costPerTransaction = noOfItemPurchased*costPerItem
sellingPricePerTransaction = noOfItemPurchased*sellingPricePerItem

data["CostPerTransaction"] = costPerTransaction 
data["SellingPricePerTransaction"] = sellingPricePerTransaction
data["ProfitPerTransacion"] = profitPerTransacion
data["Markup"] = round(data["ProfitPerTransacion"]/costPerTransaction, 2)

date = data['Day'].astype(str) + '-' + data['Month'].astype(str) + '-' + data['Year'].astype(str)
data["Date"] = date

split_clientKeywords = data["ClientKeywords"].str.split(',', expand = True)
data["ClientAge"] = split_clientKeywords[0]
data["ClientType"] = split_clientKeywords[1]
data["LengthOfContract"] = split_clientKeywords[2]
data["ClientAge"] = data["ClientAge"].str.replace('[','')
data["LengthOfContract"] = data["LengthOfContract"].str.replace(']','')

data["ItemDescription"] = data["ItemDescription"].str.lower()
 
seasons = pd.read_csv('/home/aman/Documents/Data Analysis/Value_Inc_Sales/value_inc_seasons.csv', sep = ';')

data = pd.merge(data, seasons, on = 'Month')
data = data.drop(['Day', 'Month','Year','ClientKeywords'], axis = 1)

data.to_csv('/home/aman/Documents/Data Analysis/Value_Inc_Sales/valueInc_cleaned.csv', index = False)
data

,UserId,TransactionId,Time,ItemCode,ItemDescription,NumberOfItemsPurchased,CostPerItem,SellingPricePerItem,Country,CostPerTransaction,SellingPricePerTransaction,ProfitPerTransacion,Markup,Date,ClientAge,ClientType,LengthOfContract,Season
0,278166,6355745,12:50:00,465549,family album white picture frame,6,11.73,21.11,United Kingdom,70.38,126.66,56.28,0.8,2-Feb-2019,'Senior','Solo Entrepreneur','2-5 Year Client',Mid
1,337701,6283376,09:06:00,482370,london bus coffee mug,3,3.52,3.87,United Kingdom,10.56,11.61,1.05,0.1,26-Dec-2018,'Middle Age','Corporation','2-5 Year Client',High
2,267099,6385599,09:45:00,490728,set 12 colour pencils dolly girl,72,0.90,1.62,France,64.80,116.64,51.84,0.8,15-Feb-2019,'Middle Age','Corporation','2-5 Year Client',Mid
3,380478,6044973,07:14:00,459186,union jack flag luggage tag,3,1.73,1.90,United Kingdom,5.19,5.70,0.51,0.1,22-Jun-2018,'Middle Age','Small Business','New Client',High
4,-1,6143225,11:58:00,1733592,washroom metal sign,3,3.40,5.78,United Kingdom,10.20,17.34,7.14,0.7,10-Sep-2018,'Middle Age','Solo Entrepreneur','2-5 Year Client',Mid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1047583,343560,6386952,08:16:00,450030,set/3 red gingham rose storage box,3,5.18,8.29,United Kingdom,15.54,24.87,9.33,0.6,16-Feb-2019,'Middle Age','Corporation','New Client',Mid
1047584,276528,6316717,08:56:00,1732143,wood 2 drawer cabinet white finish,6,9.60,10.56,United Kingdom,57.60,63.36,5.76,0.1,15-Jan-2019,'Middle Age','Small Business','Loyal Client',High
1047585,341082,6140585,10:41:00,487326,lunch bag apple design,15,2.28,2.51,United Kingdom,34.20,37.65,3.45,0.1,8-Sep-2018,'Young Adult','Corporation','New Client',Mid
1047586,336147,6075190,09:32:00,460509,jumbo bag pink vintage paisley,3,2.88,5.18,United Kingdom,8.64,15.54,6.90,0.8,20-Jul-2018,'Senior','Solo Entrepreneur','Loyal Client',High
1047587,-1,6180020,12:00:00,473739,seaside flying disc,6,3.40,6.12,United Kingdom,20.40,36.72,16.32,0.8,10-Oct-2018,'Middle Age','Solo Entrepreneur','2-5 Year Client',Low